/** @format */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #f5f5f5;



  .name {
    display: flex;
    align-items: start;
    flex-direction: column;
    h1 {
      font-size: 1.2rem;
      color: #333;
    }
    h2 {
      font-size: 1rem;
      color: #333;
    }
  }

  .menu {
    button {
      font-size: 1rem;
    }
  }
}
